# SPDX-License-Identifier: Apache-2.0

if BOARD_SSCI_MDBT53_DEV_BOARD_NRF5340_CPUAPP || BOARD_SSCI_MDBT53_DEV_BOARD_NRF5340_CPUAPP_NS

config BOARD_SSCI_MDBT53_DEV_BOARD
	select USE_DT_CODE_PARTITION if BOARD_SSCI_MDBT53_DEV_BOARD_NRF5340_CPUAPP_NS

config BT_HCI_IPC
	default y if BT_HCI

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BT_HCI_IPC

endif
